# Combined dependencies for both frontend and backend

# Backend
fastapi
uvicorn
python-multipart
firebase-admin
tensorflow-cpu
mediapipe

# Frontend
streamlit
requests
streamlit-webrtc
av

# Common
numpy
pandas
opencv-python-headless