streamlit
opencv-python-headless
requests
pandas
numpy
Pillow
psutil
scikit-learn
matplotlib
seaborn
tensorflow
mediapipe
pydantic-settings
python-dotenv
watchdog
websockets
firebase-admin
gcsfs
google-cloud-storage
streamlit-webrtc
av
